
   
 

    <div class="button-container">
      <button>  <a href="/register">Registrar Usuário</a> </button>
    </div>
  <br>
    <div class="button-container">
      <button>  <a href="/list">Ver usuários Registrados</a> </button>
    </div>
  
    